/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    @apply border-custom-purple text-center text-custom-purple border-solid;
  }

  .not-active {
    @apply border-transparent;
  }

	.navbar-desktop {
		@apply md:flex md:items-center md:justify-center md:space-x-1 hidden;
	}

	.navbar-mobile {
		@apply fixed inset-0 bg-custom-gray-light flex flex-col items-center justify-center;
	}
}
