/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    @apply border-custom-purple text-center text-custom-purple border-solid;
  }

  .not-active {
    @apply border-transparent;
  }
}
